<div class="news-blocks">
    <div class="news-block">
        <img src="img/news/new-1.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">02 фев 2022</div>
            <div class="news-block__title">Как купить аккумулятор</div>
            <div class="news-block__desc">
                Можно просто сдать свой старый аккумулятор в зачет и получить весомую скидку при
                покупке!
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
    <div class="news-block">
        <img src="img/news/new-2.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">26 янв 2022</div>
            <div class="news-block__title">Подольский Аккумулятор — нестареющая классика</div>
            <div class="news-block__desc">
                Именно такой слоган характеризовал продукцию Подольского аккумуляторного завода.
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
    <div class="news-block">
        <img src="img/news/new-2.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">26 янв 2022</div>
            <div class="news-block__title">Подольский Аккумулятор — нестареющая классика</div>
            <div class="news-block__desc">
                Именно такой слоган характеризовал продукцию Подольского аккумуляторного завода.
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
    <div class="news-block">
        <img src="img/news/new-1.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">02 фев 2022</div>
            <div class="news-block__title">Как купить аккумулятор</div>
            <div class="news-block__desc">
                Можно просто сдать свой старый аккумулятор в зачет и получить весомую скидку при
                покупке!
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
    <div class="news-block">
        <img src="img/news/new-1.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">02 фев 2022</div>
            <div class="news-block__title">Как купить аккумулятор</div>
            <div class="news-block__desc">
                Можно просто сдать свой старый аккумулятор в зачет и получить весомую скидку при
                покупке!
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
    <div class="news-block">
        <img src="img/news/new-2.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">26 янв 2022</div>
            <div class="news-block__title">Подольский Аккумулятор — нестареющая классика</div>
            <div class="news-block__desc">
                Именно такой слоган характеризовал продукцию Подольского аккумуляторного завода.
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
    <div class="news-block">
        <img src="img/news/new-2.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">26 янв 2022</div>
            <div class="news-block__title">Подольский Аккумулятор — нестареющая классика</div>
            <div class="news-block__desc">
                Именно такой слоган характеризовал продукцию Подольского аккумуляторного завода.
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
    <div class="news-block">
        <img src="img/news/new-1.jpg" alt="new-1" class="news-block__img">
        <div class="news-block__content">
            <div class="news-block__info info">02 фев 2022</div>
            <div class="news-block__title">Как купить аккумулятор</div>
            <div class="news-block__desc">
                Можно просто сдать свой старый аккумулятор в зачет и получить весомую скидку при
                покупке!
            </div>
        </div>
        <div class="news-block__footer">
            <a href="#" class="news-block__more more">
                <img src="img/svg/card-bonus__more.svg" alt="card-bonus__more">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
</div>
