<ul class="pagination">
    <li class="pagination-item pagination-prev pagination-disabled">
        <a href="#" class="pagination-link">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.5 11H8.33L13.92 5.41L12.5 4L4.5 12L12.5 20L13.91 18.59L8.33 13H20.5V11Z"/>
            </svg>
            Назад
        </a>
    </li>
    <li class="pagination-item pagination-active">
        <a href="#" class="pagination-link">
            1
        </a>
    </li>
    <li class="pagination-item">
        <a href="#" class="pagination-link">
            2
        </a>
    </li>
    <li class="pagination-item">
        <a href="#" class="pagination-link">
            3
        </a>
    </li>
    <li class="pagination-item">
        <a href="#" class="pagination-link">
            ...
        </a>
    </li>
    <li class="pagination-item">
        <a href="#" class="pagination-link">
            9
        </a>
    </li>
    <li class="pagination-item pagination-next">
        <a href="#" class="pagination-link">
            Вперёд
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0557 4L10.6457 5.41L16.2257 11H4.05566V13H16.2257L10.6457 18.59L12.0557 20L20.0557 12L12.0557 4Z" />
            </svg>
        </a>
    </li>
</ul>
