.search{
  &-block{
    border-bottom: 1px solid #111111;
    width: 100%;
    position: relative;
    input{
      font-family: 'Montserrat';
      width: 100%;
      font-weight: 700;
      font-size: 46px;
      line-height: 121.5%;
      color: #212121;
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0 0 10px;
      padding-right: 80px;

    }
    .btn-search{
      padding: 24px;
      background: #212121;
      outline: none;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 1400px) {
  .search{
    &-block{
      border-bottom: 1px solid #111111;
      width: 100%;
      position: relative;
      input{
        font-size: 40px;
        padding-bottom: 8px;
        padding-right: 64px;
      }
      .btn-search{
        padding: 20px;
        svg{
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .search{
    &-block{
      border-bottom: 1px solid #111111;
      width: 100%;
      position: relative;
      input{
        font-size: 24px;
        padding-right: 58px;
      }
      .btn-search{
        padding: 16px;
        svg{
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}